*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #8a2eff;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.navBar {
    overflow: hidden;
    background-color: white;
    width: 90%;
    margin-left: 55px;
}

.navBar img {
  padding-left: 27px;
  padding-top: 3px;
    width: 94px;
    height: 59px;
}

.navBar .mont:hover {
    background-color: black;
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

.navBar .mont{
    float: right;
    color: black;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.cont {
    margin-top: 30px;
    margin-left: 23.5%
}

form{
    height: 550px; 
    width: 650px; 
    border:5px  green; 
    text-align: left; 
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.container input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(227, 226, 226);
    border-radius: 10px;
}

.container label {
    margin-left: 20px;
    color: rgba(0, 0, 0, 1);
}

.genderDiv label{
    margin-left: 50px;
    color: rgba(0, 0, 0, 1);
}

.buttonRegister{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 20px;
    border: none;
    cursor: pointer;
    width: 90%;
    border-radius: 20px;
}
button:hover {
    opacity: 0.8;
  }

.container {
    padding: 8px;
    margin: auto;
}

@media screen and (min-width: 180px) and (max-width: 280px) {
    .buttonRegister {
        width: 25%;
    }
    input{
        width: 25%;
    }
    form{
        width: 35%;
    }
}  

@media screen and (min-width: 281px) and (max-width: 600px) {
    .buttonRegister {
        width: 50%;
    }
     input{
        width: 50%;
    }
    form{
        width: 35%;
    }
}  

@media screen and (min-width: 601) and (max-width: 1000px) {
    .buttonRegister {
        width: 100%;
     }
    input{
        width: 100%;
    }
}