*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
  }

body {
    margin: 0;
    /* background-color: white; */
    background-image: url(https://scontent.fcai20-4.fna.fbcdn.net/v/t39.30808-6/217534818_6124294864279647_4479435769726996294_n.png?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE6Ro9s64A5INflm3lWuHfi072TXZzza0_TvZNdnPNrT2vuk6Jicd-0Vrf11Nv8_CiNZRYhAzW-EuJWKZXrV_Ds&_nc_ohc=gpr5SAakffYAX_dIrsA&_nc_ht=scontent.fcai20-4.fna&oh=00_AfAEBUJ1w4AjA-gjiVDMYDGIoqPWEHmo959D4H9W9WRY5A&oe=63C419FB);
    background-size: 50%;
    background-repeat: repeat;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    z-index: -1;
}

.navBar {
    overflow: auto;
    background-color: white;
    width: 90%;
    margin-left: 55px;
}

.navBar img {
  padding-left: 27px;
  padding-top: 3px;
    width: 94px;
    height: 59px;
}

.navBar .mont:hover {
    background-color: black;
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

.navBar .mont{
    float: right;
    color: black;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 70%;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
}

th{
    border: 3px solid black;
    height: 35px;
}

td{
    text-align: center;
    color: black;
    border: 3px solid black;
    height: 25px;
}

.Header:hover {
    background-color: rgba(255, 255, 255, 1);
}

.content:hover {
    background-color: rgba(100, 100, 100, 1);;
}