*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
  }

body {
    margin: 0;
    background-color: #8a2eff;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.navBar {
    overflow: auto;
    background-color: white;
    width: 90%;
    margin-left: 55px;
}

.navBar img {
    padding-left: 27px;
    padding-top: 3px;
    width: 94px;
    height: 59px;
}

.navBar .mont:hover {
    background-color: black;
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

.navBar .mont{
    float: right;
    color: black;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 70%;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
}

th{
    border: 3px solid black;
    height: 35px;
}

td{
    text-align: center;
    color: white;
    border: 3px solid black;
    height: 25px;
}

.Header:hover {
    background-color: rgba(255, 255, 255, 1);
}

.content:hover {
    background-color: rgba(100, 100, 100, 1);;
}